@model DMS.Web.viewmodel.DocumentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-primary text-center">Add New Document</h1>
<br />
<br />



<form class="row" action="/Documents/Create" method="post" enctype="multipart/form-data">
    <div class="mb-3 col-6">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" type="text " class="form-control " placeholder="Enter your title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" type="text" class="form-control" placeholder="Give a description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" type="text" class="form-control" placeholder="Provide an author" />
        <span asp-validation-for="Author" class="text-dark"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Content" class="form-label"></label>
        <input asp-for="Content" type="text " class="form-control" placeholder="Give a content" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="mb-3 col-12">
        <label asp-for=file class="form-label"></label>
        <input asp-for=file class="form-control" />
        <span asp-validation-for="file" class="text-danger"></span>


    </div>
    <br />
    <br />
    @*<input type="submit" value="Upload document" class="btn btn-success mb-12" />*@
    <button type="submit" class="btn btn-success"><i class="bi bi-save"></i> Save</button>




</form>

